body {
    background-color: #17181C;
    color: #FFF;
    font-family: sans-serif;
    margin: 0;
    height: 200vh;
}
#posicao {
    position: sticky;
    /* left: 100px; */
    top: 0;
    width: 100%;
    height: 200px;
    background-color: #FFFFFF;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#posicao:hover .pulse {
    bottom: 0;
}
.pulse {
    /* position: absolute; */
    background: none;
    color: #FF760C;
    border: 2px solid;
    /* bottom: -100px;
    left: 0; */
    margin: 0px;
    padding: 15px 40px;
    transition: 0.25s;
}
.pulse:hover, .pulse:focus {
    color: #FFF;
    border-color: #EF8F6E;
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    animation: pulsar 1s;
}

@keyframes pulsar {
    0% {
        box-shadow: 0 0 0 0 #EF8F6E;
    }
}